.main{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-gap: 10px;
}

.meal{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 300px;
    height: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}

.images{
    width: 100%;
    height: auto;
}

.buttons{
    border-radius: 5px;
    width: 80%;
    height: 25px;
    text-align: center;
    background-color: red;
    border: none;
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    margin: 5px;
}